.force-users .selected {
  color: rgb(255, 196, 0);
  font-weight: bold;
}

.force-users {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.force-users li {
  margin: 0 5px;
  background: #023;
  padding: 20px;
  cursor: pointer;
}

.force-users li:hover {
  background: #024;
}

.force-user-details {
  float: left;
}
